<html>
 
<head>
    <title>FlaskTest</title>
</head>
 
<body>
    <h2>Welcome To my test</h2>
    <h2></h2>
    <table>
        <tr>
         <th>any opiod</th>
         <th>percent affordable</th>
          <tr><td>{{opiods}}</td><td>{{percent_house}}</td></tr>
    </table>    
    <table>
        <tr>
        <th>Death City</th>
        <th>Any Opiod over dose death</th>
        <th>Percent Affordable housing</th>
     </table>
     <table>
      {% for i in opiod_death%}  
        <tr> 
        <td> 
         {{i[0]}}
        </td>
        <td>
        {{i[1]}}    
        </td>        
        <td>
         {{i[2]}}            
        </td>   
        </tr>
      {% endfor %}  
    </table>        
</body>
 
</html>
